@font-face {
  src: url(GameofThrones.ttf);
  font-family: "got";
}

a,h1,h4,h5,p {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main .bg-small {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main .bg-blur {
  display: none;
}

.icons {
  display: none;
}



.navbar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
}

.bars {
  display: none;
}

.logo .logo-main {
  display: none;
}

.logo .logo-init {
  width: 30px;
}

.navbar ul {
  height: 80px;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar ul li {
  list-style: none;
  margin: 0 auto;
}

.navbar .first {
  top: 0;
  left: 0;
}

.navbar .second {
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.second li {
  cursor: pointer;
}

.second i {
  font-size: 20px;
  color: white;

}

.fa-bell {
  position: relative;
}

.fa-bell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.content .bg-img {
  display: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  top: 50px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.title h1 {
  font-family: "got";
  font-size: 1.5em;
  line-height: 25px;
  letter-spacing: 5px;
  width: 50%;
}

.title h1 span {
  font-size: 0.5em;
  position: relative;
  top: -5px;
}

.title h4,
.title h5 {
  margin: 0;
}

.info .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 150px;
  height: 41px;
  border-radius: 5px;
  color: white;
  margin: 0 20px;
  cursor: pointer;
}

.btn:nth-child(1) {
  background-color: red;
  border: none;
  margin-left: 0;
  position: relative;
}

.btn:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: none;
}

.btn p {
  font-size: 14px;
  margin: 0 0 0 8px;
}

.btn .fa-caret-right {
  font-size: 16px;
}

.btn .fa-chevron-down {
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  padding: 1.04em 0.4em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  right: 0px;
}


@media (min-width: 640px){
   body {
    overflow: visible;
  }

  .info {
    flex-direction: row;
    top: 0;
    margin-top: 0;
    justify-content: space-between;
    width: 100%;
  }
}


@media (min-width: 768px) {
  .content {
    top: 150px;
  }

  .info {
    width: 100%;
    justify-content: space-between;
  }

  .title h1 {
    line-height: 45px;
    font-size: 2em;
  }

  .info .buttons {
    width: 50%;
  }
}


@media (min-width: 992px) {
  .main .bg-small {
    display: none;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

   .main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 61, 82, 0.568);
  }

  .main .bg-blur {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
    filter: blur(8px);
    z-index: -100;
  }

  .content {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
  }

  .content .bg-img {
    display: block;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    
  }

  .navbar {
    position: absolute;
    top: 0;
    display: flex;
  }

  .navbar ul {
    position: relative;
    width: 50%;
  }

  .bars {
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.bars span {
  width: 13px;
  height: 2px;
  background-color: white;
  position: relative;
}

.bars span:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: white;
}

.bars span:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: white;
}

  .logo .logo-init {
  display: none;
 }

 .logo .logo-main {
  display: block;
  max-width: 130px;
  width: 100%;
  margin-left: 20px;
 }

  .navbar .second {
    background: transparent;
    justify-content: flex-end;
  }

  .navbar .second li {
    margin: 0 15px;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .title {
    align-items: flex-start;
    margin-left: 2em;
  }

  .title h1 {
    line-height: 65px;
    font-size: 4em;
}

.info .buttons {
  justify-content: flex-start;
  margin-left: 2em;
}

.btn:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
}
}

@media (min-width: 1280px) {
  .content {
    max-width: 1380px;
    height: 70%;
  }
}